authlib
boto3==1.28.85
dotenv
dnspython
Flask
Flask-Mail
flask-cors
google-generativeai
gunicorn
numba
numpy
openpyxl
pandas
plotly
pymongo
pymongo[srv]
PyPDF2
PyMuPDF
requests
scipy
scikit-optimize
whitenoise